h1{
    color: white;
    font-family: cursive ;
    font-size: 3.5cap;
}
p{
    color: rgba(246, 246, 246, 0.958);
    background-color: rgb(129, 62, 13);
    opacity: 0.9;
    font-size: large;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}