h1{
    color: rgb(8, 8, 7);
    font-family: cursive ;
    font-size: 3.5cap;
}
p{
    color: rgba(246, 246, 246, 0.958);
    background-color: darkslategrey;
    opacity: 0.9;
    font-size: large;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}